<p-table [value]="pokemanList"  selectionMode="single" (onRowSelect)="onRowSelect($event)"
        [scrollable]="true" [rows]="20" scrollHeight="500px"
        [virtualScroll]="true" [virtualRowHeight]="34"  [lazy]="true" (onLazyLoad)="loadPokemonLazy($event)">
        <ng-template pTemplate="header">
        <tr>
            <th>id</th>
            <th>
                <div>Name
                    <p-columnFilter type="text" field="name" display="Name"></p-columnFilter>
                </div>
            </th>
            <th>
                <div>Abilities
                    <p-columnFilter type="text" field="abilities" display="Abilities"></p-columnFilter>
                </div>
            </th>
            <th>
                <div>Forms
                    <p-columnFilter type="text" field="name" display="Forms"></p-columnFilter>
                </div>
            </th>
            <th>
                <div>Species
                    <p-columnFilter type="text" field="name" display="Species"></p-columnFilter>
                </div>
            </th>
            <th>
                <div>Type
                    <p-columnFilter type="text" field="name" display="Type"></p-columnFilter>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pokemon>
        <tr [pSelectableRow]="pokemon">
            <td>{{pokemon.id}}</td>
            <td>{{pokemon.name}}</td>
            <td><span *ngFor="let abilities of pokemon.abilities">{{abilities.ability.name}} </span></td>
            <td><span *ngFor="let forms of pokemon.forms">{{forms.name}}</span></td>
            <td>{{pokemon.species.name}}</td>
            <td><span *ngFor="let types of pokemon.types">{{types.type.name}}</span></td>
        </tr>
    </ng-template>
    
</p-table>